* {
  margin: 0;
  padding: 0;
}

.mainLayout {
  /* border: 1px solid red; */
  width: 100%;
  height: 100vh;
}

.image {
  background: url("https://plus.unsplash.com/premium_photo-1682126252712-1d98e031a71a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100%;
}
.list {
  height: 30px;
  width: 200px;
  border: 1px solid blue;
}
