* {
  margin: 0;
  padding: 0;
}

.mainLayout {
  /* border: 1px solid red; */
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
  /* box-sizing: border-box; */
}
.image::-webkit-scrollbar {
  display: none;
}

.image {
  background: url("https://plus.unsplash.com/premium_photo-1682126252712-1d98e031a71a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  /* min-height: 100vh; */
  /* width: 100%; */
}
/* .list {
  height: 30px;
  width: 200px;
  border: 1px solid blue;
} */
.outer_board {
  box-sizing: border-box;
  display: flex;
  height: 89vh;
  flex: 1;
  width: 100%;
  overflow-x: auto;
}
.inner_board {
  padding: 20px;
  padding-bottom: 5px;
  height: 100%;
  width: fit-content;
  padding: 0 30px;
  display: flex;
  gap: 30px;
}
