.main_board {
  min-width: 290px;
  max-height: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.custom_scroll::-webkit-scrollbar {
  width: 8px;
}
.custom_scroll::-webkit-scrollbar-thumb {
  border-radius: 30px;
  border: 1px solid #ccc;
  background-color: #fff;
}
.custom_scroll::-webkit-scrollbar-thumb:hover {
  background-color: #ccc;
}
.board_top {
  display: flex;
}
.board_top_tittle {
  font-size: 1.5rem;
  line-height: 1.8rem;
  display: flex;
  flex: 1;
  align-items: center;
  font-weight: 700;
}
.board_top_tittle span {
  color: grey;
}

.board_cards {
  display: flex;
  flex: 1;
  height: 100%;
  background-color: transparent;
  border-radius: 14px;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border-bottom: 10px;
  overflow-y: auto;
  margin-bottom: 1rem;
}
