.navbar {
    height: 10%;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
  }
  .name {
    /* border: 1px solid blue; */
    color: white;
    font-size: 1.5rem;
    width: 20%;
    padding: 14px 29px;
  }
  .icon {
    /* border: 1px solid green; */
    margin-left: 30px;
    text-align: center;
    margin-top: 50px;
  }
  .icon svg {
    padding-top: 5px;
  }
  .button {
    /* border: 1px solid red; */
    position: absolute;
    left: 80%;
    width: 20%;
    top: 10px;
    display: flex;
    justify-content: space-evenly;
  }
  .userImage {
    border-radius: 50%;
    height: 40px;
    width: 40px;
  }
  .share {
    height: 40px;
    width: 30%;
    color: black;
    background-color: lightblue;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    font-weight: 400;
  }
  .user {
    font-size: 1.2rem;
    font-weight: bold;
  }
  